# API Backend
API_URL=http://localhost:5000/api
SOCKET_URL=http://localhost:5000

# Stripe
STRIPE_PUBLISHABLE_KEY=pk_test_votre_cle_publique_stripe

# Google Maps (Android)
GOOGLE_MAPS_API_KEY=votre_cle_google_maps
